.container
{
    width: 90%;
    height: 90%;
}
h1{
    margin-left: 35%;
}
h2{
    margin-left: 17%;
}
.name{
   width: 100%;
   margin-left: 15%;
}
.firstname{
    width: 40%;
    margin-left: 2%;
    display: inline-block;
}
.fname{
    width: 60%;
    margin-left: 3%;
}
.lastname{
    margin: 1%;
    width: 40%;
    display: inline-block;
}
.lname{
    width: 60%;
    margin-left: 4%;
}
.email-contact{
    width: 100%;
    margin-left: 15%;
}
.email{
    width: 40%;
    margin-left: 2%;
    display: inline-block;
}
.mail{
    width: 60%;
    margin-left: 5%;
}
.contact{
    width: 40%;
    display: inline-block;
    margin-left: 1%;
}
.econtact{
    width: 60%;
    margin-left: 3%;
}
.date{
    width: 100%;
    margin-left: 17%;
}
.date_of_birth{
    width: 40%;
    display: inline-block;
}
input{
    border-radius: 8px;
    border-style: none solid 0px;
}
input[type="date"] {
    width: 30%;
    border-radius: 4px;
}
.dateofbirth{
    width: 18%;
    margin-left: 3%;
    border-style: 0.5px solid;
}
.joining_date{
    width: 40%;
    margin-left:1%;
    display: inline-block;
}
.joiningdate{
    margin-left: 3%;
}
.dest-qulif{
    width: 100%;
    margin-left: 17%;
    display: inline-block;
}
.work{
    display: inline-block;
}
.destination{
    display: inline-block;
}
.qualification{
    width: 45%;
    display: inline-block;
    margin-left: 12%;
}
.qualification-val{
    margin-left: 3%;
    width: 50%;
}
.current_address{
    margin-left: 17%;
}
.permanent_address{
    margin-left: 17%;
}
.exp_blood_gender{
    width: 100%;
    margin-left: 17%;
}
.Year_of_experience{
    width: 20%;
    display: inline-block;
}
#experience{
    display: inline-block;
    width: 30%;
}
.blood_group{
    width: 20%;
    margin-left:2%;
    display: inline-block;
}
.gender{
    display: inline-block;
}
.emg_pic{
    width: 100%;
    margin-left: 17%;
}
.Emergency_number{
    width: 40%;
    display: inline-block;
}
.profile_photo{
    width: 40%;
    margin-left:2%;
    display: inline-block;
}
.option{
    margin-top: 2%;
    margin-left: 85%;
    margin-bottom: 2%;
}
.tech-company{
width: 80%;
}
.technology{
    margin-left: 22%;
    display: inline-block;
}
.company{
    display: inline-block;
}
fieldset{
    width: 100%;
    height: 80%;
    background-color: rgb(189, 194, 198);
}
h2{
    margin-left: 12%;
}
.company label{
    display: inline-block;
}
textarea{
    border-radius: 10px;
}
.back{
    width: 60%;
}
.link{
    display: inline-block;
    color: black;
    font-size: 29px;
}
.title{
    margin-left: 18%;
    display: inline-block;
    width: 40%;
}