.container
{
    width: 90%;
    height: 90%;
    /* margin: 5%; */
}
h1{
    margin-left: 35%;
}
.name{
   width: 100%;
   margin-left: 10%;
}
.firstname{
    margin: 1%;
    width: 40%;
    margin-left: 2%;
    display: inline-block;
}
.fname{
    width: 60%;
    margin-left: 3%;
}
.lastname{
    margin: 1%;
    width: 40%;
    margin-left:2%;
    display: inline-block;
}
.lname{
    width: 60%;
    margin-left: 4%;
}
.email-contact{
    width: 100%;
    margin-left: 10%;
}
.email{
    margin: 1%;
    width: 40%;
    margin-left: 2%;
    display: inline-block;
}
.mail{
    width: 60%;
    margin-left: 5%;
}
.contact{
    margin: 1%;
    width: 40%;
    margin-left:2%;
    display: inline-block;
}
.econtact{
    width: 60%;
    margin-left: 3%;
}
.date{
    width: 100%;
    margin-left: 10%;
}
.date_of_birth{
    margin: 1%;
    width: 40%;
    margin-left: 2%;
    display: inline-block;
}
input[type="date"] {
    width: 30%;
    border-radius: 4px;
}

.dateofbirth{
    margin-left: 3%;
    width: 18%;
    border-style: 0.5px solid;
}
.joining_date{
    margin: 1%;
    width: 40%;
    margin-left:2%;
    display: inline-block;
}
.joiningdate{
    margin-left: 3%;
}
.dest-qulif{
    width: 100%;
    margin-left: 10%;
}
.destination{
    margin: 1%;
    width: 40%;
    margin-left:2%;
    display: inline-block;
}
.edestination{
    margin-left: 3%;
}
.qualification{
    margin: 1%;
    width: 40%;
    margin-left:2%;
    display: inline-block;
}
.equalification{
    width: 60%;
    margin-left: 3%;
}
.current_address{
    margin-left: 12%;
}
.permanent_address{
    margin-left: 12%;

}
.exp_blood_gender{
    width: 100%;
    margin-left: 11%;
}
.Year_of_experience{
    margin: 1%;
    width: 20%;
    /* margin-left:2%; */
    display: inline-block;
}
.blood_group{
    margin: 1%;
    width: 20%;
    margin-left:2%;
    display: inline-block;
}
.gender{
    margin: 1%;
    /* width: 25%; */
    display: inline-block;
}
.emg_pic{
    width: 100%;
    margin-left: 11%;
}
.Emergency_number{
    margin: 1%;
    width: 40%;
    /* margin-left:2%; */
    display: inline-block;
}
.profile_photo{
    margin: 1%;
    width: 40%;
    margin-left:2%;
    display: inline-block;
}
.option{
    margin-top: 2%;
    margin-left: 85%;
    margin-bottom: 2%;
}
.technical_skill
{
    margin-left:0 ;
}
.technology{
    padding-left: 12%;
}
fieldset{
    margin: 8%;
    background-color: rgb(189, 194, 198);
}
h2{
    margin-left: 12%;
}
.company label{
    padding-left: 12%;
}