h1{
    width: 100%;
    margin-left: 50%;
}
.back{
    width: 60%;
}
.link{
    display: inline-block;
    color: black;
    font-size: 29px;
}
.title{
    margin-left: 18%;
    display: inline-block;
    width: 40%;
}
.main-conatiner{
    display: inline-block;
}
.details
{
    margin-left: 4%;
    display: inline-block;
}
.name{
    font-weight: bold;
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
}
.desination{
    margin-top: 2px;
    font-size: 18px;
}
.desination .desination-icon{
    margin-right: 10px;
    display: inline-block;
    color: rgb(11, 11, 11);
    font-size: 12px;
}
.email{
    margin-top: 2px;
    font-size: 15px;
}
.email .mail-icon{
    margin-right: 10px;
    display: inline-block;
    color: rgb(11, 11, 11);
    font-size: 12px;
}
.mobile{
    margin-top: 4px;
    font-size: 15px;
    display: inline-block;
}
.mobile .mobile-icon{
    margin-right: 10px;
    display: inline-block;
    color: rgb(11, 11, 11);
    font-size: 12px;
}
.location{
    margin-top: 5px;
    font-size: 15px;
}
.location-icon{
    margin-right: 10px;
    display: inline-block;
    color: rgb(11, 11, 11);
    font-size: 12px;
}
.profile .image
{
    width: 200px;
    border-radius: 100px;
    
}
.profile
{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 5px;
    margin-left: 55%;
    display: inline-block;
}
.bottom-container{
    margin-left: 4%;
    display: inline-block;
    margin-top: 2%;
}
.details{
    display: inline-block;
}
.experience{
    margin-top: 1%;
    display: inline-block;
    font-size:18px;
}
.experience-val{
    display: inline-block;
    font-weight: bold;
    margin-left: 50px;
}
.date-of-joining{
    margin-top: 1%;
    font-size: 18px;
    display: inline-block;
}
.datejoining{
    margin-left: 20px;
    display: inline-block;
    font-weight: bold;
}
.address{
    margin-top: 1%;
    font-size: 18px;
    display: inline-block;
}
.address-val
{
    margin-left: 69px;
    display: inline-block;
    font-weight: bold;
}
.gender{
    margin-top: 1%;
    font-size: 18px;
    display: inline-block;
}
.gender-val
{
    margin-left: 74px;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 1%;
}
.company-details{
    margin-left:60%;
    display: inline-block;
}
.company-details .company-name{
    margin-top: 5px;
    font-size: 14px;
    display: inline-block;
}
.company-details .name-val{
    margin-left: 10px;
    display: inline-block;
    font-weight: bold;
}
.owner-name{
    margin-top: 10px;
    font-size: 14px;
    display: inline-block;
}
.owner-val{
    margin-left: 10px;
    display: inline-block;
    font-weight: bold;
}
.mail{
    margin-top: 10px;
    font-size: 14px;
    display: inline-block;
}
.mail-val{
    margin-left: 10px;
    display: inline-block;
    font-weight: bold;
}
.contact-no{
    margin-top: 10px;
    font-size: 14px;
    display: inline-block;
}
.contact-val{
    margin-left: 10px;
    display: inline-block;
    font-weight: bold;
}
.company-location{
    margin-top: 10px;
    font-size: 14px;
    display: inline-block;
}
.location-val{
    margin-left: 10px;
    display: inline-block;
    font-weight: bold;
}
.social-media
{
    margin-top: 1%;
}
.facebook
{
    font-size: 30px;
    display: inline-block;
}
.twitter{
    margin-left: 20px;
    font-size: 30px;
    display: inline-block;
}
.instagram{
    margin-left: 20px;
    font-size: 30px;
    display: inline-block;
}
.buttom-container{
    width: 100%;
    display: inline-block;
} 